In [1]:
# Assignment 1

In [5]:
# ex 1 
s = "Hi there Yogesh!"

In [3]:
s

'Hi there Yogesh!'

In [4]:
s.split()

['Hi', 'there', 'Yogesh!']

In [7]:
# Ex 2
planet = "Earth"
diameter = 12742

In [8]:
'The diameter of {} is {}'.format(planet,diameter)

'The diameter of Earth is 12742'

In [9]:
# Ex 3
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
type(lst)

list

In [11]:
print(lst[3])

[5, [100, 200, ['hello']], 23, 11]

In [12]:
print(lst[3][1])

[100, 200, ['hello']]

In [15]:
print(lst[3][1][2][0])

hello

In [16]:
# eX 4
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [18]:
print( ['K1'])

['K1']

In [25]:
d ['k1'] [3]['tricky'][3]['target'][3]

'hello'

In [26]:
# Ex 5
def find_domain (s):
    print(s.split ('@'))

In [27]:
find_domain('pvm@gmail.com')

['pvm', 'gmail.com']

In [30]:
def find_domain (s):
    print(s.split ('@')[1])

In [31]:
find_domain('pvm@gmail.com')

gmail.com

In [32]:
# Ex 6  ** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [33]:
def find_dog(s):
    return 'dog'in s

In [34]:
find_dog(' my pet is dog')

True

In [35]:
find_dog(' my pet is Dog')

False

In [36]:
def find_dog(s):
    return 'dog'in s.lower()

In [37]:
find_dog(' my pet is Dog')

True

In [59]:

def find_dog(s):
    print(s.lower().count('dog'))

In [61]:
find_dog(' my pet is Dog. He is big dog')

2

In [71]:
# writting function
def find_dog(s):
    c=0
    for w in s.lower().split():
        if w=='dog':
            c+=1
    return c

In [70]:
find_dog('my pet is dog Dog')

2

In [63]:
#  Ex 7 ** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
# should be filtered down to:

#s['soup','salad']

In [64]:
seq

['soup', 'dog', 'salad', 'cat', 'great']

In [65]:
list(filter(lambda x:x[0]!='s', seq))

['dog', 'cat', 'great']

In [66]:
list(filter(lambda x:x[0]=='s', seq))

['soup', 'salad']

In [72]:
list(filter(lambda item: item.startswith("s"),seq))

['soup', 'salad']

In [69]:
 # Ex 8    # *You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: 
#"No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". 
#If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is
#"Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, 
#your speed can be 5 higher in all cases. *

In [75]:
def caught_speeding(speed, birthday):
    if speed <= 60 and birthday = true :
        return 'no ticket'
    elif (61 < speed < 75) :
        return 'small ticket'
    elif speed >= 76 :
        return ' big ticket'

In [77]:
caught_speeding(60, True)

'no ticket'

In [79]:
lst = ['-123abcd', 'abcd456','fdhfh-78dsd89','-56dssd78']

In [81]:
type(lst)

list

In [82]:
s=str(lst)

In [83]:
type(s)

str

In [89]:
# Ex 9 Question
#Given a string print number num by extracting all the
#digits from the string as in string
#Print negative number if the first character in 
s#tring is '-'
#eg. -123abcd should return -123,abcd456-->456

s=input("Enter the Input String:")
num=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    num=num+s[0]
for c in s:
    if c in str(data):
        num=num+c
print(num)

Enter the Input String:45798ytr
45798

In [91]:
s=input("Enter the Input String: ") 
num=""
data=[0,1,2,3,4,5,6,7,8,9]
if s[0]=="-":
    num= num+s[0]
for n in s:
    if n.isdigit():
        num= num+n
print(num)

Enter the Input String: -7854khbb
-7854

In [102]:
# WAP to check whether a number is palindrome or not on following conditions.
# 1. take input number
# 2. add number and its reverse
#3. check that number is palindrome or not,if not then sum and its reverse

num1=input("Enter the Number:")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
print("Number is:",num3)
print("Reverse is",num3[::-1])
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("Number is:",num3)
    print("Reverse is",num3[::-1])
print("palindrome is:",num3)

Enter the Number:123
Number is: 444
Reverse is 444
palindrome is: 444

In [103]:
# Write a python function to find and display the five 
# digit number in which the first digit is two more than 
# the second,the second digit is two more than the third,
# the fourth digit is two less than the third, and the 
# last digit is two more than
# the fourth.The sum of the third,fourth and fifth digits
# equals the first.The sum of all the digits is 19
def fun1():
    for a in range(0,10):
        b=a-2
        c=b-2
        d=c-2
        if c+d+c==a and a+b+c+d+c==19:
            print(str(a)+str(b)+str(c)+str(d)+str(c))

In [104]:
fun1()

75313